extends layout

block content
  h1= "Temperatures"
  table
    thead
      tr
        th Date/Time
        th Temperature
    tbody
      each temperature in temperatures
        tr
          td #{temperature.timestamp}
          td #{temperature.data[0].temperature}